.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  position: relative;
  z-index: 2;
  color: var(--color-secondary);
  margin-top: 20px;
}

.header:before {
  content: "";
  display: block;
  width: 350px;
  height: 350px;
  background-image: url(../../assets/title.gif);
  background-size: cover;
  background-position: center center;
  position: absolute;
  bottom: 0px;
  transform: rotate(-90deg) translate(-165px, 0px) scale(0.7);
}
