.navigation {
  position: relative;
  display: inline-flex;
  gap: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: auto;
  z-index: 2;
  height: auto;
  overflow: hidden;
  border-radius: 30px;
  color: var(--color-secondary);
  margin: 0 auto;
  margin-bottom: 40px;
}

.navigation__pagination {
  display: grid;
  place-items: center;
  margin: 0 auto;
}
